<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finterest.invest.conversion.mapper.ConversionMapper">

    <!-- 최신 환전 비율 조회 -->
    <select id="getLatestRate" parameterType="string" resultType="org.finterest.invest.conversion.dto.ConversionRateDTO">
        SELECT
            rate_id AS rateId,
            conversion_rate AS conversionRate,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM Conversion_Rates
        WHERE conversion_type = #{conversionType}
        ORDER BY created_at DESC
            LIMIT 1
    </select>

    <!-- 환전 비율 삽입 -->
    <insert id="insertConversionRate" parameterType="org.finterest.invest.conversion.dto.ConversionRateDTO">
        INSERT INTO Conversion_Rates (
            conversion_rate, created_at, updated_at
        ) VALUES (
                     #{conversionRate}, #{createdAt}, #{updatedAt}
                 )
    </insert>

    <!-- 환전 비율 업데이트 -->
    <update id="updateConversionRate" parameterType="org.finterest.invest.conversion.dto.ConversionRateDTO">
        UPDATE Conversion_Rates
        SET
            conversion_rate = #{conversionRate},
            updated_at = #{updatedAt}
        WHERE rate_id = #{rateId}
    </update>

    <!-- 환전 비율 기록 조회 -->
    <select id="getAllRates" resultType="org.finterest.invest.conversion.dto.ConversionRateDTO">
        SELECT
            rate_id AS rateId,
            conversion_rate AS conversionRate,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM Conversion_Rates
        ORDER BY created_at DESC
    </select>

    <!-- 거래 기록 삽입 -->
    <insert id="insertConversionTransaction" parameterType="org.finterest.invest.conversion.dto.ConversionTransactionDTO">
        INSERT INTO Conversion_Transactions (
            user_id,
            money_change,
            point_change,
            conversion_type,
            rate_id
        ) VALUES (
                     #{userId},
                     #{moneyChange},
                     #{pointChange},
                     #{conversionType},
                     #{rateId}
                 )
    </insert>

    <!-- 특정 사용자 ID에 대한 거래 기록 조회 -->
    <select id="getConversionTransactionsByUserId" parameterType="int" resultType="org.finterest.invest.conversion.domain.ConversionTransactionVO">
        SELECT
            transaction_id,
            user_id,
            money_change,
            point_change,
            conversion_type,
            conversion_date,
            rate_id
        FROM
            Conversion_Transactions
        WHERE
            user_id = #{userId}
        ORDER BY
            conversion_date DESC
    </select>

</mapper>
