<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finterest.invest.conversion.mapper.ConversionMapper">

    <update id="updateConversionRate" parameterType="org.finterest.invest.conversion.domain.ConversionRateVO">
        UPDATE Conversion_Rates
        SET conversion_rate = #{conversionRate}, updated_at = #{updatedAt}
        WHERE rate_id = #{rateId}
    </update>

    <select id="selectConversionRateById" parameterType="int" resultType="org.finterest.invest.conversion.domain.ConversionRateVO">
        SELECT * FROM Conversion_Rates WHERE rate_id = #{rateId}
    </select>

    <select id="selectAllConversionRates" resultType="org.finterest.invest.conversion.domain.ConversionRateVO">
        SELECT * FROM Conversion_Rates
    </select>

    <insert id="insertConversionTransaction" parameterType="org.finterest.invest.conversion.domain.ConversionTransactionVO">
        INSERT INTO Conversion_Transactions (user_id, points_used, money_used, points_received, money_received, conversion_type, conversion_date, rate_id)
        VALUES (#{userId}, #{pointsUsed}, #{moneyUsed}, #{pointsReceived}, #{moneyReceived}, #{conversionType}, #{conversionDate}, #{rateId})
    </insert>

    <select id="selectTransactionsByUserId" parameterType="int" resultType="org.finterest.invest.conversion.domain.ConversionTransactionVO">
        SELECT * FROM Conversion_Transactions WHERE user_id = #{userId}
    </select>

</mapper>
