<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finterest.invest.comment.mapper.CommentMapper">

    <!-- 댓글 생성 -->
    <insert id="insertComment" parameterType="org.finterest.invest.comment.domain.CommentVO">
        INSERT INTO Comments (content, user_Id, board_Id, createdAt, updatedAt)
        VALUES (#{content}, #{userId}, #{boardId}, NOW(), NOW())
    </insert>

    <!-- 특정 게시물의 모든 댓글 조회 -->
    <select id="selectCommentsByBoardId" parameterType="long" resultType="org.finterest.invest.comment.domain.CommentVO">
        SELECT comment_Id, content, user_Id, board_Id
        FROM Comments
        WHERE board_Id = #{boardId}
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="org.finterest.invest.comment.domain.CommentVO">
        UPDATE Comments
        SET content = #{content}, updatedAt = NOW()
        WHERE comment_Id = #{commentId}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="long">
        DELETE FROM Comments WHERE comment_Id = #{commentId}
    </delete>

</mapper>
