<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <insert id="insert">
        INSERT INTO tbl_member
        VALUES(#{username}, #{password}, #{email}, now(), now() )
    </insert>


    <update id="update">
        UPDATE tbl_member
        SET
            email = #{email},
            update_date = now()
        WHERE username =#{username}
    </update>


    <update id="updatePassword">
        UPDATE tbl_member
        SET
            password = #{newPassword},
            update_date = now()
        WHERE username =#{username}
    </update>

    <delete id="delete">
        DELETE FROM tbl_member
        WHERE username =#{username}
    </delete>


    <resultMap id="authMap" type="AuthVO">
        <result property="username" column="username" />
        <result property="auth" 			column="auth" />
    </resultMap>

    <resultMap id="memberMap"  type="MemberVO">
        <id property="username" 				column="username" />
        <result property="username"		column="username" />
        <result property="password"		column="password" />
        <result property="email" 			column="email" />
        <result property="regDate"			column="reg_date" />
        <result property="updateDate"	column="update_date" />

        <collection property="authList" resultMap="authMap" />
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM
            tbl_member m
        LEFT OUTER JOIN  tbl_member_auth a
             ON m.username = a.username
        where m.username = #{username}
    </select>

    <select id="getList" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM
            tbl_member m
                LEFT OUTER JOIN  tbl_member_auth a
                                 ON m.username = a.username
    </select>

    <select id="findByUsername" resultType="org.scoula.security.account.domain.MemberVO">
        SELECT * FROM tbl_member WHERE username = #{username}
    </select>


    <insert id="insertAuth">
        INSERT INTO tbl_member_auth(username, auth)
        VALUES(#{username}, #{auth})
    </insert>
    <delete id="deleteAuth">
        DELETE FROM  tbl_member_auth
        WHERE username = #{username} AND auth = #{auth}
    </delete>
</mapper>
