<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finterest.point.mapper.AdminPointMapper">
    <!-- 포인트 적립/차감 내역 조회 -->
    <select id="selectPointDetails" resultType="org.finterest.point.domain.PointVO">
        SELECT
        p.point_id AS pointId,
        p.user_id AS userId,
        pr.activity_name AS activityName,
        p.points_change AS pointsChange,
        p.created_at AS createdAt
        FROM Points p
        JOIN Point_Rules pr ON p.source = pr.rule_id
        WHERE 1=1
        <if test="userId != null">
            AND p.user_id = #{userId}
        </if>
        <if test="filter != null and filter == 'earned'">
            AND p.points_change &gt; 0
        </if>
        <if test="filter != null and filter == 'deducted'">
            AND p.points_change &lt; 0
        </if>
        <if test="startDate != null">
            AND p.created_at &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND p.created_at &lt;= #{endDate}
        </if>
        ORDER BY p.created_at DESC, p.point_id DESC
    </select>

    <!-- 전체 사용자 누적 포인트 조회 -->
    <select id="selectUserPointSummaries" resultType="org.finterest.point.domain.UserPointVO">
        SELECT
        u.user_id AS userId,
        u.total_points AS totalPoints
        FROM Users u
        <if test="startDate != null and endDate != null">
            WHERE u.signup_date BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY u.total_points DESC, u.user_id DESC
    </select>

    <!-- 포인트 추가 -->
    <insert id="insertPoint" parameterType="map">
        INSERT INTO Points (user_id, source, points_change, created_at)
        VALUES (#{userId}, (SELECT rule_id FROM Point_Rules WHERE activity_name = #{activityName}), #{pointsChange}, NOW())
    </insert>

    <!-- 사용자 누적 포인트 업데이트 -->
    <update id="updateUserTotalPoints">
        UPDATE Users
        SET total_points = total_points + #{pointsChange}
        WHERE user_id = #{userId}
    </update>

</mapper>