<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="logImpl" value="SLF4J"/> <!-- 로그 설정 -->
        <setting name="cacheEnabled" value="true"/> <!-- 캐시 설정 -->
    </settings>


    <typeAliases>
        <package name="org.finterest.security.account.domain" />
        <package name="org.finterest.user.domain"/>
        <package name="org.finterest.invest.stock.overall.domain.kospi"/>
        <package name="org.finterest.invest.stock.simulator.domain.SimulatorVO"/>
        <package name="org.finterest.invest.portfolio.domain.PortfolioDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="org/finterest/invest/stock/overall/mapper/OverallMapper.xml"/>
        <mapper resource="org/finterest/invest/stock/simulator/mapper/SimulatorMapper.xml"/>
        <mapper resource="org/finterest/invest/portfolio/mapper/PortfolioMapper.xml"/>
        <mapper resource="org/finterest/conversion/mapper/ConversionMapper.xml"/>
        <mapper resource="org/finterest/user/mapper/userMapper.xml"/>
        <mapper resource="org/finterest/board/mapper/BoardMapper.xml"/>
        <mapper resource="org/finterest/comment/mapper/CommentMapper.xml"/>
        <mapper resource="org/finterest/scenario/mapper/ScenarioMapper.xml"/>
    </mappers>

</configuration>
