<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="org.finterest.security.account.domain" />
    </typeAliases>

    <mappers>
        <mapper resource="org/finterest/stock/overall/mapper/OverallMapper.xml"/>
<!--        <mapper resource="org/finterest/conversion/mapper/ConversionMapper.xml"/>-->
    </mappers>

</configuration>
